.hightlight {
  background-color: #80c0b5;
}

.navbar-style {
  background-color: #0c8351 !important;
}
.tablecls img{
  width: 40px;
}
.handle-icon{
cursor: pointer;
}
.react-responsive-modal-modal {
  width: 460px;
}
.popup-content{
  pointer-events: auto;
    left: 1091px !important;
    width:120px !important;
}